body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
/* header start */
.header {
  background-image: url(assets/banner.jpg);
  background-size: cover;
  height: 600px;
}
.header::after {
  content: "";
  clear: both;
  display: block;
}
.container {
  width: 70%;
  margin: auto;
  max-width: 1170px;
}
/* navigation start */
.navigation {
  width: 100%;
  display: flex;
  border-bottom: 1px solid white;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 50%;
  float: left;
}
.logo img {
  width: 50%;
  height: auto;
  margin: 35px 0;
}
.main {
  width: 100%;
}
.main a {
  position: relative;
  text-decoration: none;
  font-size: 13px;
  color: #fff;
  margin-right: 30px;
}
.main a::after {
  content: "";
  position: absolute;
  background-color: #ff0000;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -5px;
}
.main a:hover {
  color: #ff0000;
  transition: 0.4s;
}
.main a:hover::after {
  width: 100%;
  transition: 0.4s;
}
/* navigation end */
/* masthead start */
.masthead {
  content: "";
  clear: both;
  display: block;
  width: 100%;
  margin: 30px 0;
  max-width: 1170px;
  color: #fff;
  text-align: center;
}
.tagline h1 {
  font-size: 60px;
  text-transform: uppercase;
}
.tagline h6 {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 70px;
}
.button a {
  font-size: 13px;
  margin-bottom: 200px;
  background: #e84545;
  color: #fff;
  width: 200px;
  height: 50px;
  border: 1px solid #e84545;
  border-radius: 2px;
  float: inherit;
  text-decoration: none;
  padding: 15px 45px;
}
.button a:hover {
  background: none;
  border: 1px solid #e84545;
  color: #e84545;
  transition: 0.4s;
}
/* masthead end */
/* feature start */
.feature {
  margin-top: 150px;
}

.features1,
.features2 {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.feature h3,
p {
  font-size: 14px;
  text-align: center;
}
.features1 .box i,
.features2 .box i {
  font-size: 60px;
  font-weight: 200;
  color: #e84545;
}
/* feature end */
/* work start */
.work {
  width: 100%;
  margin: auto;
  min-width: 1085px;
  margin-top: 50px;
}
.work1,
.work2 {
  display: flex;
  justify-content: center;
}
.work1 img,
.work2 img {
  position: relative;
  width: 25%;
}
/* work end */
/* team start */
.team {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.team .profile img {
  width: 90%;
  margin: 0;
}
.team .profile img:hover {
  opacity: 50%;
}
.team .profile h3 {
  font-size: 22;
  font-weight: 600;
  text-align: left;
}
.team .profile h4 {
  font-size: 13;
  font-weight: 400;
  text-align: left;
  color: #e84545;
}
.team .profile p {
  font-size: 14;
  font-weight: 300;
  text-align: left;
}
.team .profile i {
  font-size: 30px;
  font-weight: 300;
  text-align: left;
  color: #c6cacc;
}
.team .profile i:hover {
  color: #e84545;
}
/* team end */
/* client start */
.client {
  width: 100%;
  margin: auto;
  min-width: 1085px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  height: 320px;
}
.leftside {
  width: 50%;
}
.leftside img {
  height: 320px;
}
.rightside {
  background: #53354a;
  width: 60%;
  box-sizing: border-box;
}
.rightside h3 {
  margin-left: 20px;
  font-size: 26px;
  font-weight: 400;
  color: #fff;
}
.rightside p {
  margin-left: 20px;
  font-size: 13px;
  text-align: left;
  font-weight: 600;
  color: #fff;
}
/* client end */
/* download start */
.download {
  width: 100%;
  margin: auto;
  min-width: 1085px;
  margin-top: 50px;
  margin-bottom: 50px;
  display: block;
  text-align: center;
}
.download h3 {
  font-size: 28px;
  text-align: center;
  font-weight: 300;
}
.download h6 {
  font-size: 13px;
  text-align: center;
  font-weight: 600;
}
.download a {
  font-size: 13px;
  margin-bottom: 200px;
  background: #e84545;
  color: #fff;
  width: 200px;
  height: 50px;
  border: 1px solid #e84545;
  border-radius: 2px;
  float: inherit;
  text-decoration: none;
  padding: 15px 45px;
}
.download a:hover {
  background: none;
  border: 1px solid #e84545;
  color: #e84545;
  transition: 0.4s;
}
/* download end */
/* footer1 start */
.footer1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: auto;
  min-width: 1085px;
  background: #3a3e64;
  color: #fff;
}
.footer1 .part {
  box-sizing: border-box;
  max-width: 33%;
  padding: 2% 8%;
  text-align: center;
}
/* footer1 end */
/* footer2 start */
.footer2 {
  width: 100%;
  min-width: 1085px;
  padding: 10px 0px;
  background: #313454;
  color: #fff;
}
.footer2 p {
  font-size: 14px;
  text-align: center;
  font-weight: 200;
}
.footer2 i {
  font-size: 14px;
  text-align: center;
  font-weight: 100;
}
